html {
    background-color: black;
}
div {
    margin-top: 10%
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    font-family: Libre Baskerville, static;
    text-align: center;
}
img {
    height: 100%;
    width: 100%;
    border: 2px solid white;
}
h1 {
    font-size: 28px;
}


